<header class="container">
    <div class="header-title-container">
        <a class="header-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div class="logo-container">
        <a href="#top">
        <div class="logo-border">
            <img src="{{ site.baseurl }}/assets/img/logo-placeholder-02.png" class="logo-img"/>
        </div>
        </a>
    </div>
    <div class="menu-container">
        <ul class="menu-items">
            <li><a class="menu-item-link" href="{{ site.baseurl }}/about">About</a></li>
            <li><a class="menu-item-link" href="{{ site.baseurl }}/">Blog</a></li>
        </ul>
    </div>
</header>