:root {
    --pixel-margin-y: 5px;
    --pixel-margin-x: 0px;
    --pixel-width: 350px;

    --primary: #46beae;
    --secondary: #a86436;
    --tertiary: #13d413;
    --background: #fff;
    --header-text: #eee;
    --content-background: #fff;

    --footer-background: #b4b4b4;
    --footer-color: #eee;
    --footer-font-size: 20px;

    --text-font: Helvetica, sans-serif;
    --text-dark: #333;
    --text-mid: #bbb;
    --text-light: #eee;

    --link-light: #eee;
    --link-hover: #fff;

    --title-font: 'Ubuntu', sans-serif;
    --subtitle-font: 'Ubuntu', sans-serif;
    
    --header-font-title-large: 16px;
    --header-font-title-small: 12px;
    --header-font-large: 12px;
    --header-font-small: 8px;
}


html, body {
    background-color: var(--footer-background);
    margin:0;
    font-family: var(--text-font);
    font-weight: bold;
    /*color: var(--text-dark);*/
}


.container {
    display: grid;
}

.px {
    padding-left: var(--pixel-margin-x);
    padding-right: var(--pixel-margin-x);
}

.py {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* -------- HEADER -------- */
header {
    background-color: rgba(132, 142, 151, 0.5);
    backdrop-filter: blur(4px);
    position: fixed;
    padding: 0;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    align-items: center;
    font-size: 0px;
}

.header-container {
    /*display: flex;*/
    width: var(--pixel-width);
    margin: auto;
}

.header-flex-items {
    display: flex;
}

.header-title-container {
    display: flex;
}

.header-title {
    font-family: var(--title-font);
    font-size: var(--header-font-title-large);
    font-weight: 700;
    padding: 8px 20px;
    align-items: center;
    display: none;
}

header a {
    font-family: var(--title-font);
    color: var(--header-text);
    text-decoration: none;
}

header a:hover {
    background-color: rgba(147, 156, 165, 0.25);
}


.logo-img {
    width: 55px;
    padding: 5px;
}


.menu-container {
    display: flex;
    margin-left: auto;
    
}

.menu-items {
    display: none;
}

.menu-item-link {
    font-size: var(--header-font-large);
    font-family: var(--title-font);
    font-weight: 700;
    padding: 26px 20px;
}

#nav-button-toggle {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    list-style: none;
    padding-right: var(--pixel-margin-x);
    padding: 8px 20px;
    align-items: center;
}

#nav-button-links {
    display: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

#nav-button-links ul {
    padding-left: 0;
}

#nav-button-links li {
    margin-top: 7px;
}

.nav-button-item-link {
    padding: 7px 10px;
}

/* Header background */
.header-bg {
    background: url("/digital-forest/assets/img/header-bg-draft-2.png") no-repeat center;
    height: 300px;
    background-size: cover;
}


.welcome-container {
    padding-top: 100px;
    padding-bottom: 50px;
    width: var(--pixel-width);
    margin: auto;
    color: var(--header-text);
    font-size: 30px;
    text-shadow: 0px 0px 30px rgb(48, 59, 51);
}
.welcome-title {
    margin-bottom: 0;
    font-weight: 700;
}
.welcome-subtitle {
    margin-top: 0;
    font-weight: 300;
}

/* Header cursor animation */
@keyframes cursor-blink {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgb(255, 255, 255, 1);
    }
}

#cursor-container {
    display: flex;
}

#cursor {
    content: "";
    margin-top: 2px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    margin-left: 12px;
    width: 16px;
    height: 26px;
    background: var(--header-text);
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}



/* -------- MAIN -------- */
main {
    background-color: var(--content-background);
}

.content {
    background-color: var(--content-background);
    grid-template-columns: 1fr;
    margin: auto;
    width: var(--pixel-width);
    padding-top: 50px;
    padding-bottom: 50px;
}


/* -------- FOOTER -------- */
footer {
    background-color: var(--footer-background);
    color: var(--footer-color);
}

footer h3 {
    font-size: var(--footer-font-size);
}

.footer-container {
    grid-template-columns: 1fr;
    margin: 20px auto 40px auto;
    width: var(--pixel-width);
    display: flex;
    align-items: center;
}

.footer-items {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer-item {
    padding: 0px 10px;
}

/*
.footer a:hover {
    background-color: rgba(224, 224, 224, 1);
}
*/

.footer-icon {
    fill: var(--footer-color);
    width: 35px;
}

.footer-icon:hover {
    fill: #777;
}


/* -------- Content -------- */

h1, h2, h3, h4 {
    font-family: var(--title-font);
    margin-top: 0;
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 500;
    font-size: 30px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
}

h4 {
    font-weight: 300;
    font-size: 18px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

code {
    font-size: 13px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

hr {
    border: 1px solid #1f291e;
}

.link-light {
    color: var(--text-light)
}

.ita {
    font-style: italic;
}


/* Post Paginate */
.post-preview {
    max-height: 200px;
    overflow: hidden;
}

.date {
    font-size: 14px;
    font-weight: 200;
    color: var(--text-mid);
}

.post-thumbnail-container {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-thumbnail {
    border-radius: 10px;
    width: 100px;
    border: 1px solid;
}

.post-container {
    left: 0;
    display: flex;
    margin-left: auto;
    flex-direction: row;
}

.post-title {
    margin: 0;
    font-weight: 600;
}

.post-subtitle {
    margin: 0 0 0.65em;
    font-weight: 400;
}

/* Post */

.post-header {
    padding-bottom: 30px;
}

.post-header h1 h2 {
    color: #fff;
    padding: 0;
    margin: 0;
}


/* Highlighting */

code {
    background-color: #d4d4d4;
    border-radius: 3px;
}

.hljs {
    border-radius: 10px;
}


/* Material Icons */
/* https://fonts.google.com/icons */

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48;
    color: var(--header-text);
}


/* -------- Responsive breakpoints -------- */

@media screen and (min-width: 1440px) {
    :root {
        --pixel-margin-y: 30px;
        --pixel-margin-x: 90px;
        --pixel-width: 1000px;

        --footer-font-size: 22px;

        --header-font-title-large: 20px;
        --header-font-title-small: 15px;
        --header-font-large: 20px;
        --header-font-small: 15px;
    }

    header {
        font-size: 8px;
    }

    .header-title {
        display: flex;
    }

    .logo-img {
        width: 80px;
        padding: 10px;
    }

    .menu-items {
        display: flex;
        align-items: center;
    }

    #nav-button-toggle {
        display: none;
    }

    a {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    code {
        font-size: 15px;
    }

    .welcome-container {
        padding-top: 130px;
    }

}


@media screen and (min-width: 768px) and (max-width: 1440px) {
    :root {
        --pixel-margin-y: 15px;
        --pixel-margin-x: 30px;
        --pixel-width: 700px;

        --footer-font-size: 22px;

        --header-font-title-large: 20px;
        --header-font-title-small: 15px;
        --header-font-large: 20px;
        --header-font-small: 15px;
    }

    header {
        font-size: 8px;
    }

    .header-title {
        display: flex;
    }

    .logo-img {
        width: 80px;
        padding: 10px;
    }

    .menu-items {
        display: flex;
        align-items: center;
    }

    #nav-button-toggle {
        display: none;
    }

    a {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    code {
        font-size: 15px;
    }

    .welcome-container {
        padding-top: 130px;
    }

}

/* Add a media css rule for very small devices (Chrome dev tools -> Galaxy Fold) */