<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  {% include header.html %}

  <div class="header-bg">
    <div class="welcome-container">
      <h1 class="welcome-title">Welcome to the Digital Forest</h1>
      <div id="cursor-container">
        <h2 class="welcome-subtitle">{{ site.subtitle }}</h2><div id="cursor"></div>
      </div>
    </div>
  </div>
  
  <main class="container">
    <div class="content px">
      {{ content }}
    </div>
  </main>

  <footer class="container">
    <div class="footer-container px">
      {% include footer.html %}
    </div>
  </footer>
  
  {% include footer-scripts.html %}

</body>
</html>